# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Matlab temporary files
*.asv

# vi temporary files
*.*~

General_codes/file_utils/datapath/
lastUsedDir.mat
data_folder/lastUsedDir.mat


General_codes/file_utils/datapath/lastpath.mat
data_folder/lastUsedDir.mat
data_folder/20150915_020_NIR_park.dat
data_folder/20150915_scaled_langley.dat
data_folder/starinfo20140901.m
data_folder/lastUsedDir.mat

# ignore the large mat files
data_folder/20151103star.mat
data_folder/????????star.mat
data_folder/????????starsun*.mat
data_folder/*star.mat
*.ict
data_folder/temporary_startupbusiness.mat
General_codes/file_utils/datapath/lastpath.mat
data_folder/NAAMES1stats.txt
data_folder/OMIfigs/omi_no2_,interpolated4flight_20151109.fig
data_folder/OMIfigs/omi_no2_,interpolated4flight_20151109.png
data_folder/OMIfigs/omi_no2_4flight_20151109.fig
data_folder/OMIfigs/omi_no2_4flight_20151109.png
data_folder/OMIfigs/omi_o3_,interpolated4flight_20151109.fig
data_folder/OMIfigs/omi_o3_,interpolated4flight_20151109.png
data_folder/OMIfigs/omi_o3_4flight_20151109.fig
data_folder/OMIfigs/omi_o3_4flight_20151109.png
data_folder/hs_err_pid20700.log
data_folder/OMIfigs/
data_folder/OMIdata/
data_folder/figs/
data_folder/MLO2016_aats_raw/
data_folder/MLO2016starinfo/
data_folder/MLO2016star_mat/
data_folder/old_starinfo_arise/
data_folder/MLO2016_aats_mat/




General_codes/file_utils/datapath/lastpath.mat

General_codes/file_utils/datapath/lastpath.mat

4STAR_codes/update_toggle.m
