# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Matlab temporary files
*.asv

# vi temporary files
*.*~

General_codes/file_utils/datapath/
lastUsedDir.mat
data_folder/lastUsedDir.mat


General_codes/file_utils/datapath/lastpath.mat
data_folder/lastUsedDir.mat
data_folder/20150915_020_NIR_park.dat
data_folder/20150915_scaled_langley.dat
data_folder/starinfo20140901.m
data_folder/lastUsedDir.mat

# ignore the large mat files
data_folder/20151103star.mat
data_folder/????????star.mat
data_folder/????????starsun*.mat
data_folder/*star.mat
*.ict
*.h5
data_folder/temporary_startupbusiness.mat
General_codes/file_utils/datapath/lastpath.mat
data_folder/NAAMES1stats.txt
data_folder/OMIfigs/omi_no2_,interpolated4flight_20151109.fig
data_folder/OMIfigs/omi_no2_,interpolated4flight_20151109.png
data_folder/OMIfigs/omi_no2_4flight_20151109.fig
data_folder/OMIfigs/omi_no2_4flight_20151109.png
data_folder/OMIfigs/omi_o3_,interpolated4flight_20151109.fig
data_folder/OMIfigs/omi_o3_,interpolated4flight_20151109.png
data_folder/OMIfigs/omi_o3_4flight_20151109.fig
data_folder/OMIfigs/omi_o3_4flight_20151109.png
data_folder/hs_err_pid20700.log
data_folder/OMIfigs/
data_folder/OMIdata/
data_folder/figs/
data_folder/MLO2016_aats_raw/
data_folder/MLO2016starinfo/
data_folder/MLO2016star_mat/
data_folder/old_starinfo_arise/
data_folder/MLO2016_aats_mat/




General_codes/file_utils/datapath/lastpath.mat

General_codes/file_utils/datapath/lastpath.mat

4STAR_codes/update_toggle.m

4STAR_codes/update_toggle.m

4STAR_codes/update_toggle.m
data_folder/starinfo_20170802.m
4STAR_codes/gas_phase/gxs.mat
data_folder/starflags_20180921_CF_marks_ALL_20181002_1003.m
4STAR_codes/gas_phase/gxs.mat
4STAR_codes/sky_scans/starsky_2_missing_stuff.m
4STAR_codes/skyscan_utils/starsky_2_.m
data_folder/starinfo_20130909.m
4STAR_codes/update_toggle.m
data_folder/last_wl.mat
4STAR_codes/update_toggle.m
4STAR_codes/update_toggle.m
4STAR_codes/star_utils/xfit_aod_basis_.m
4STAR_codes/update_toggle.m
4STAR_codes/update_toggle.m
data_folder/last_wl.mat
4STAR_codes/update_toggle.m
*.zip
data_folder/20200805_starflag_auto_created_20221219_2114.mat
data_folder/20200805_starflag_auto_created_20221219_2119.mat
data_folder/20200824_starflag_auto_created_20221219_2128.mat
data_folder/20200824_starflag_auto_created_20221220_1209.mat
data_folder/20201027_starflag_auto_created_20221220_1021.mat
